.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}




















@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.who-am-i-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.who-am-i-container1 {
  width: 100%;
  height: 516px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.who-am-i-image {
  width: 300px;
  height: 300px;
  align-self: center;
  object-fit: cover;
}
.who-am-i-container2 {
  width: 100%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
}
.who-am-i-header {
  width: 100%;
  height: 145px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.who-am-i-separator {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.who-am-i-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.who-am-i-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.who-am-i-accordion-content {
  display: flex;
  overflow: hidden;
  position: relative;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.who-am-i-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.who-am-i-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.who-am-i-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  justify-content: center;
}
@media(max-width: 1200px) {
  .who-am-i-container3 {
    height: 105px;
    align-items: center;
    justify-content: center;
  }
  .who-am-i-container4 {
    height: 326px;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .who-am-i-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .who-am-i-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .who-am-i-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .who-am-i-nav {
    display: none;
  }
  .who-am-i-icon {
    display: flex;
  }
}
@media(max-width: 479px) {
  .who-am-i-header {
    padding: var(--dl-space-space-unit);
  }
  .who-am-i-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
