<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="who-am-i.html" class="navigation-links-navlink">
      <span>who am i</span>
    </a>
    <a href="contact-info.html" class="navigation-links-navlink1">
      <span>Contact info</span>
    </a>
    <a href="stuff-ive-done.html" class="navigation-links-navlink2">
      <span>stuff i've done</span>
    </a>
    <a href="where-can-you-find-me.html" class="navigation-links-navlink3">
      <span>where can you find me</span>
    </a>
    <a href="blog-one-day.html" class="navigation-links-navlink4">
      <span>Blog (one day maybe i'll make one)</span>
    </a>
  </nav>
</div>
